/*
font info:
    family - Helvetica, Arial, sans-serif
    line-height - 1.6


colors:
    light gray - ##eee
    gray - #dddddd
    yellow - #ffd24a
    orange - #ff8523
    blue - #1fabe5
    dark blue - #046c97
*/
*{
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.6

}

body{
  margin: 30px auto 30px auto;
  width: 70%;
  background-color: #DDDDDD;
}

body div{
  background-color: white;
}



#site_header{
  background-color: #ff8523;
  height: 130px;
  padding-top: 20px;
  padding-left: 20px;
}



h2, h3{
  color: #1fabe5;
}


#page_content{
  padding: 20px;
  border: 1px solid yellow;
}

#page_content ul{
  font-weight: bold;
  padding-bottom: 20px;
}
.main_navigation a{
  display: inline-block;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  border-collapse: collapse;
  padding: 5px 23px 5px 23px;
}

table thead tr td{
  border: 2px solid black;
  border-collapse: collapse;
  background-color: #1fabe5;
  border-color: #046c97;
  padding: 10px 20px 10px 20px;
  color: white;
}

table tbody tr td{
  border: 2px solid #1fabe5;
  border-color: #046c97;
  padding: 10px 20px 10px 20px;
  border-collapse: collapse;
}
table{
  border-collapse: collapse;
}

section{
  padding-bottom: 30px;
  border-bottom: 4px solid #eee;
}

.name{
  background-color: #ff8523;
  border-radius: 5px;
  padding: 20px;
  color: white;
  margin-bottom: 25px;
}


.city_container{
  background-color: #eee;
  margin-bottom: 25px;
  font-weight: bold;
}

#bio{
  margin-top: 10px;
  width: 100%;
  font-weight: bold;
  font-size: 16px;
}


form{
  padding: 15px;
  border-radius: 5px;
  background-color: #eee;
}

form div{
  background-color: #eee;
  padding: 10px;
}

form div label{
  font-weight: bold;
}



table img{
  width: 60px;
  height: 60px;
}


#submit_button{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  background-color: #1fabe5;
  border-radius: 5px;
  border-style: none;
  color: white;
  width: 100px;
  height: 50px;
}
